{% extends "header.html" %}

{% block content %}
<head>
<title>
    Y O U N G F A C E
</title>
</head>
    <center>
    <h3>
    YOUNGFACE the Boy
    </h3>
    <p>

    </p>
    <p align = "center">
        Born in a small city near Boston, MA, YOUNGFACE the Boy started his rapping career in high school.<br /> It started
        out as nothing serious, but soon he found he had remarkable talent in the field. <br /> Both in writing and beat-making
        there was some exceptional ability. You can check him out yourself at any od these <a href= "#Links"> links</a>.<br />
        Also, if you want to see when YOUNGFACE is playing near you, check out his schedule  <a href= "#Links">here</a>.
    </p>
    </center>



    <p>
    <center>
    <b><a name = "Links"></a>Links</b><br />
    <a href="https://twitter.com/youngfacetheboy?lang=en">Twitter</a><br />
    <a href="https://open.spotify.com/artist/1AJuvvvbtXnpEI1fzzQ4VJ">Spotify</a><br />
    <a href="https://soundcloud.com/youngfacetheboy">Soundcloud</a>
    </center>
    </p>


{% endblock content %}